// Main background
$very-dark-blue: #090b1a;
// Card Background
$dark-desaturated-blue: #1b1938;
$soft-violet: #aa5cdb;
// Neutral
//  (main heading, stats)
$white: #ffffff;
// (stat headings)
$White-100: rgba(255, 255, 255, 0.6);
// (main paragraph)
$White-200: rgba(255, 255, 255, 0.75);