// Main background
$Very-dark-blue: hsl(233, 47%, 7%);
// Card Background
$Dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
// Neutral
$white: hsl(0, 0%, 100%);
//  (main heading, stats)
$White: hsl(0, 0%, 100%);
// (stat headings)
$White-100: hsla(0, 0%, 100%, 0.6);
// (main paragraph)
$White-200: hsla(0, 0%, 100%, 0.75);